<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onnti</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<header>
    {% include "header.html" %}

</header>

<body style="background-color: #0b1118;">

 


    <div class=" h-100 pt-5 ">
        <div class="container-fluid w-50 h-50 justify-content-center align-content-center fon d-flex text-white  rounded-top pt-3"
            style="background-color: #1B2631;">
            <h1 class="display-5">
                Crear nueva cuenta 
            </h1>
        </div>
        <div class="container-fluid w-50 h-50 justify-content-center align-content-center  d-flex text-white-50 p-3 border-1 "
            style="background-color: #1B2631;">
            <form action='/registro_cuenta' method='POST'>
                <div class="row d-flex ">
                    <div class="col-md-6">
                        <p>Id_Estado </p>
                        <input type="text" name="Id_Estado"   required />
                        <p>Balance </p>
                        <input type="text" name="Balance" required />
                        <p>Email </p>
                            <input type = "text" name = "Email" required />

                    </div>
                    

       
                </div>
                <input class="w-100 mt-5 btn-outline-dark" type="submit" value="Submit"    />
            </form>
        </div>
    </div>  









    <div class="container-fluid w-50 h-50 justify-content-center align-content-center  d-flex text-white-50 p-3 border-1 rounded-bottom"
            style="background-color: #1B2631;">
        <h6 class="text-white-50 font-monospace  ">{{mensaje}}</h6>
    </div>
    <div class="container-fluid text-white-50 justify-content-center align-content-center d-flex">
      <p class="display-6">
        vos sos  </p>
  
    </div>
    <div class="container-fluid text-white-50 justify-content-center align-content-center d-flex">
        <h1 class="font-monospace">   {{email}}</h1>

    </div>

     
    <!-- Tabala -->
    <div class="container-fluid d-flex pt-5">
        <div class="table-responsive container-fluid "
            style="border-bottom: 1px solid black; color: aliceblue; border-radius: 10px; background-color: var(--Azulnoche); ">
            <table class="table" style="color: hsla(208, 100%, 97%, 0.467);">
                <thead>
                    <tr>
                        <th scope="col">N</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">OPEN DATE</th>
                        <th scope="col">SYMBOL</th>
                        
                    </tr>
                </thead>
            {% for cuenta in cuentas %}    

                <tbody>
                    <tr>
                        <th scope="row">{{cuenta.Id}}</th>
                        <td><button type="button" class="btn btn-warning">{{ cuenta.Id_Estado }}</button></td>
                        <td><span>{{ cuenta.Id_Usuario }}</span></td>
                        <td><span>{{ cuenta.Balance }}</span></td>
                        
                    </tr>

                </tbody>
            {% endfor %}

            </table>
    </div>
</body>
