<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  


</head>
<header>
    <header>
        {% include "header.html" %}
    
    </header>
</header>

<body style="background-color: #0b1118;">

 


    <div class=" h-100 pt-5 ">
        <div class="container-fluid w-50 h-50 justify-content-center align-content-center fon d-flex text-white  rounded-top pt-3"
            style="background-color: #1B2631;">
            <h1 class="display-5">
                Crear nuevo trade
            </h1>
        </div>
        <div class="container-fluid w-50 h-50 justify-content-center align-content-center  d-flex text-white-50 p-3 border-1 "
            style="background-color: #1B2631;">
            <form action='/registro_trade' method='POST'>
                <div class="row">
                    <div class="col-md-6">
                        <p>Market   </p>        
                        <select name="Market"  class="text-black-50 font-monospace" required style="min-height: 30px; max-height: 30px; width: 189px;">
                        <option  value="Option 1">STOCK</option>
                        <option value="Option 2">FOREX</option>
                        <option value="Option 3">CRYPTO</option>
                        <option value="Option 4">OPTIONS</option>
                        <option value="Option 5">FUTURES</option>
                        </select>
                        <p>Ticker </p>
                        <input type="text" name="Ticker" required />
                        <p>Fecha_Entrada </p>
                        <input type="datetime-local" id="datetime-local" name="Fecha_Entrada" required />
                        <p>Fecha_Salida </p>
                        <input type="datetime-local" id="datetime-local" name="Fecha_Salida" required />
                        <p>Precio_Entrada </p>
                        <input type="text" name="Precio_Entrada" required />
                        <p>Precio_Salida </p>
                        <input type="text" name="Precio_Salida" required />

                    </div>
                    <div class="col-md-6">


                        <p>Direccion </p>
                        <select name="Direccion"   class="text-black-50 font-monospace" required style="min-height: 30px; max-height: 30px; width: 189px;" id="">
                        <option value="1"> Long</option>    
                        <option value="0">Short</option>    
                        </select>
                        <p>Comision </p>
                        <input type="number" name="Comision" required />
                        <p>Id_Notas </p>
                        <input type="number" name="Id_Notas" required />
                        <p>Id_Cuenta </p>
                        <input type="number" name="Id_Cuenta" required />
                        <p>Balance </p>
                        <input type="number" name="Balance" required />
                        <!--
                            <p>Estado </p>
                        <input type="number" name="Estado" required />
                        -->
                        
                        <p>Email </p>
                        <input type="text" name="Email" required />
                        
                    </div>
                </div>
                    <p> </p>
                    <input class="w-100" type="submit" value="Submit" required   />
            </form>
        </div>
    </div>  
    <div class="container-fluid w-50 h-50 justify-content-center align-content-center  d-flex text-white-50 p-3 border-1 rounded-bottom"
            style="background-color: #1B2631;">
        <h6 class="text-white-50 font-monospace  ">{{mensaje}}</h6>
    </div>
    <div class="container-fluid text-white-50 justify-content-center align-content-center d-flex">
      <p class="display-6">
        vos sos  </p>
  
    </div>
    <div class="container-fluid text-white-50 justify-content-center align-content-center d-flex">
        <h1 class="font-monospace">   {{email}}</h1>

    </div>

     

    <div class="container-fluid d-flex pt-5">
        <div class="table-responsive container-fluid "
            style="border-bottom: 1px solid black; color: aliceblue; border-radius: 10px; background-color: var(--Azulnoche); ">
            <table class="table" style="color: hsla(208, 100%, 97%, 0.467);">
                <thead>
                    <tr>
                        <th scope="col">N</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">OPEN DATE</th>
                        <th scope="col">SYMBOL</th>
                        <th scope="col">ENTRY</th>
                        <th scope="col">EXIT</th>
                        <th scope="col">RETURN $</th>
                        <th scope="col">SIDE</th>
                        <th scope="col">COMEN</th>
                    </tr>
                </thead>
            {% for trade in trades %}    

                <tbody>
                    <tr>
                        <th scope="row">{{trade.id}}</th>
                        <td><button type="button" class="btn btn-warning">{{ trade.Estado }}</button></td>
                        <td><span>{{ trade.Fecha_Entrada }}</span></td>
                        <td><span>{{ trade.Ticker }}</span></td>
                        <td>{{ trade.Precio_Entrada }}</td>
                        <td>{{ trade.Precio_Salida }}</td>
                        <td><span style="font-style: oblique;">{{ trade.Comision }}</span></td>
                        <td><button type="button" class="btn btn-outline-light">{{ trade.Direccion }}</button>
                        </td>
                        <td><button type="button" class="btn btn-outline-primary">{{ trade.Id_Notas }}</button>
                    </tr>

                </tbody>
            {% endfor %}

            </table>
    </div>
</body>
